<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<form method="post" action="/createNotice">

    <div class="input-group">
        <span class="input-group-addon">제목</span>
        <input type="text" name="title" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">내용</span>
        <input type="text" name="description" class="form-control">
    </div>

    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">확인</button>
    </span>

</form>

