<html>

    <head>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <title>BangUl Blog</title>
    </head>

    <body>

        <h1>{{ .title }}</h1>

        <div class="container">

            <div class="row">

                <div class="col-sm-8 col-xs-12">

                    {{ template "noticeTitles" }}

                </div>

            </div>

        </div>

        <script>

            var socketEndPoint = "ws://{{.host}}/ws/";
            $(function() {
                if (!window["WebSocket"]) {
                    console.log("Error: Your browser does not support web sockets");
                }
            });

        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>

</html>


