<div class="page-header">

    <h4>게시글 목록</h4>

    <div id="notices" class="list-group">
    </div>

    <form class="input-group">

        <button type="submit" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 글 쓰기
        </button>

    </form>

    <script>

        var currentNoticeId = null;

        var createNoticeBox = function (notice) {
            $('#notices').prepend(
                    $("<a>").attr("id", notice.id)
                            .attr("href", "#")
                            .text(notice.title)
                            .addClass("list-group-item")
                            .bind("click", function (e) {
                                e.preventDefault();
                            })
            );
        }

        $(document).ready(function () {
            $.get("/notices", function (notices) {
                for (var i = 0; i < notices.length; i++) {
                    createNoticeBox(notices[i]);
                }
            });
        });

    </script>

</div>

