<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<div class="panel panel-primary">

    <div class="panel-heading">
        {{ .notice.TITLE }}
    </div>

    <div class="panel-body">
        {{ .notice.DESCRIPTION }}
    </div>


</div>